<div class="card-header">
  <strong id="inDam"><h1 class="card-title" style="color: red">Create Contract</h1></strong>
</div>
<form [formGroup]="formAddContract">
  <div class="card-body">
    <div class="row col-md-12 col-xl-12 col-sm-12">


      <div class="col-xl-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label" for="facility">Name Facility </label><br>
        <select style="width: 100%; height: 70%;" class="form-select" id="facility" formControlName="facility">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
        <span style="color: red"
              *ngIf="formAddContract.controls.facility.hasError('required')">  không được để trống</span>
      </div>


      <div class="col-xl-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label" for="name_customer">Name Customer </label><br>
        <select style="width: 100%; height: 70%;" class="form-select" id="name_customer" formControlName="customer">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
        <span style="color: red"
              *ngIf="formAddContract.controls.customer.hasError('required')">  không được để trống</span>


      </div>


      <div class="col-xl-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label" for="dayStart">Day Start:</label>
        <input type="date" class="form-control time-mask" placeholder="?" id="dayStart" formControlName="startDate">
        <span style="color: red"
              *ngIf="formAddContract.controls.startDate.hasError('required')">  không được để trống</span>

      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label" for="endDateForm">End Day:</label>
        <input type="text" class="form-control numeral-mask" placeholder="input number people" id="endDateForm"
               formControlName="endDate">
        <span style="color: red"
              *ngIf="formAddContract.controls.endDate.hasError('required')">  không được để trống</span>


      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label" for="deposit">Deposit(VNĐ):</label>
        <input type="number" class="form-control block-mask" placeholder="giá" id="deposit" formControlName="deposit">
        <span style="color: red"
              *ngIf="formAddContract.controls.deposit.hasError('required')">  không được để trống</span>

      </div>


    </div>
    <div class="col-12">
      <button type="reset" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
      <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
    </div>
  </div>
</form>
