<h1>FacilityList</h1>
<a [routerLink]="['create']">Add To Facility List</a>
<table class="table table-dark" style="color: forestgreen">
  <thead>
  <tr>
    <th>STT</th>
    <th>name</th>
    <th>area</th>
    <th>cost</th>
    <th>maxPeople</th>
    <th>standardRoom</th>
    <th>poolArea</th>
    <th>floor</th>
    <th>facilityFree</th>
    <th>facilityType</th>
    <th>rentType</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of facilityList, index as i">
    <td>{{i+1}}</td>
    <td>{{f.name}}</td>
    <td>{{f.area}}</td>
    <td>{{f.cost}}</td>
    <td>{{f.maxPeople}}</td>
    <td>{{f.standardRoom}}</td>
    <td>{{f.poolArea}}</td>
    <td>{{f.floor}}</td>
    <td>{{f.facilityFree}}</td>
    <td>{{f.facilityType.name}}</td>
    <td>{{f.rentType.name}}</td>
  </tr>
  </tbody>

</table>
