<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background: wheat">
<h2>Contract List</h2>
<div>
  <button type="button" class="btn btn-outline-danger
                    col-sm-1 mb-2"
          data-bs-toggle="modal"
          data-bs-target="#modalAdd">Thêm mới
  </button>
</div>
<table class="table table-success">
  <tr>

    <th>STT</th>
    <th>startDate</th>
    <th>endDate</th>
    <th>deposit</th>
    <th>customer</th>
    <th>facility</th>
    <th>totalPrice</th>
    <th colspan="2">Cơ sở đính kèm</th>

  </tr>
  <tr th:each="contract,var:${contractDtoPage}">
    <td th:text="${var.count+5*contractDtoPage.number}"></td>
    <td th:text="${contract.startDate}"></td>
    <td th:text="${contract.endDate}"></td>
    <td th:text="${contract.deposit}"></td>
    <td th:text="${contract.customerName}"></td>
    <td th:text="${contract.facilityName}"></td>
    <td th:text="${contract.total}"></td>
    <td>
      <button th:onclick="|idContractDetail(${contract.getId()})|"
              class="btn btn-warning my-2 my-sm-0" type="button" data-bs-toggle="modal"
              data-bs-target="#modalAdd2">
        <span style="color: black">+</span>
      </button>
    </td>
    <td>
      <!--            <button class="btn btn-secondary my-2 my-sm-0 "-->
      <!--                    th:attr="onclick=|showAttachDetail('${contract.getId()}')|" data-bs-toggle="modal"-->
      <!--                    data-bs-target="#showAttachDetail">-->
      <!--                <span class="text-light m-auto" style="color: black">Danh sách dịch vụ đính kèm</span>-->
      <!--            </button>-->
    </td>
    <!--        <td>-->
    <!--            <button th:onclick="|idContractDetail(${contract.getId()})|"-->
    <!--                    class="btn btn-warning my-2 my-sm-0" type="button" data-bs-toggle="modal"-->
    <!--                    data-bs-target="#modalAdd2">-->
    <!--                <span style="color: black">+</span>-->
    <!--            </button>-->
    <!--        </td>-->
    <!--        <td>-->
    <!--            <button class="btn btn-secondary my-2 my-sm-0 "-->
    <!--                    th:attr="onclick=|showAttachDetail('${contract.getId()}')|" data-bs-toggle="modal"-->
    <!--                    data-bs-target="#showAttachDetail">-->
    <!--                <span class="text-light m-auto" style="color: black">Danh sách dịch vụ đính kèm</span>-->
    <!--            </button>-->
    <!--        </td>-->


  </tr>
</table>
<div class="modal fade" id="modalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Thêm hợp đồng?</h1>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form th:action="@{/contract/save}"
            th:object="${contract}" th:method="post">
        <div class="col-lg-6">
          <div class="mb-4">
            <label for="name">Tên dịch vụ:</label>
            <div>
              <select id="name" th:field="*{facility}">
                <option th:value="${''}"></option>
                <option th:each="item : ${facilityPage}" th:value="${item.id}"
                        th:text="${item.name}"></option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label for="nameCus">Tên khách hàng</label>
            <div>
              <select id="nameCus" th:field="*{customer}">
                <option th:value="${''}"></option>
                <option th:each="item : ${customerPage}" th:value="${item.id}"
                        th:text="${item.name}"></option>
              </select>
            </div>
          </div>
          <div class="mb-4 ">
            <label for="dateStart">Ngày bắt đầu</label>
            <div>
              <input type="date" id="dateStart" class="form-control"
                     th:field="*{startDate}"/>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-4 ">
            <label for="dateEnd">Ngày kết thúc</label>
            <div>
              <input type="date" id="dateEnd" class="form-control"
                     th:field="*{endDate}"/>
            </div>
          </div>
          <div class="mb-4 ">
            <label for="deposit">Tiền đặt cọc</label>
            <div>
              <input type="text" id="deposit" class="form-control" placeholder="Nhập tiền đặt cọc.."
                     th:field="*{deposit}"/>
            </div>
          </div>
          <div class="mb-4">
            <lable>Dịch vụ đính kèm</lable>
            <button class="btn btn-warning my-2 my-sm-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#modalAdd2">+
            </button>
          </div>
        </div>
        <div class="mb-4 text-center">
          <button id="save"
                  class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
            Tạo hợp đồng <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- thêm dịch vụ đi kèm-->
<div class="modal fade" id="modalAdd2" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Thêm dịch vụ đính kèm?</h1>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form th:action="@{/contract/attach}"
            th:object="${contractDetail}" th:method="post">
        <table class="table table-view">
          <tr hidden>
            <th>
              <lable th:for="id">Id:</lable>
            </th>
            <td>
              <input readonly type="text" th:field="*{id}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="nameAtt">Tên dịch vụ đi kèm:</label>
            </th>
            <td>
              <select id="nameAtt" th:field="*{attachFacility}">
                <option th:value="${''}"></option>
                <option th:each="item : ${attachFacilityList}" th:value="${item.id}"
                        th:text="${item.name}"></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <lable for="quantity">Số lượng:</lable>
            </th>
            <td>
              <input type="number" id="quantity" th:field="*{quantity}">
            </td>
          </tr>
          <tr hidden>
            <th>
              <label th:for="contract">Mã hợp đồng</label>
            </th>
            <td>
              <input readonly type="text" id="idInput" th:field="*{contract}">
            </td>
          </tr>
        </table>
        <div class="mb-4 text-center">
          <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="showAttachDetail" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalLabel2">Danh sách dịch vụ đính kèm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="showAttach"></table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<input hidden id="mess" th:value="${mess}">
<!--<script src="/jquery-3.6.1.min.js"></script>-->

<div>
  <a th:href="@{'/contract'(page=${contractDtoPage.number - 1})}"
     th:if="${contractDtoPage.hasPrevious()}">Previous</a>

  <span th:text="${contractDtoPage.number + 1}"></span>
  <span th:text="${contractDtoPage.totalPages }"></span>

  <a th:href="@{'/contract'(page = ${contractDtoPage.number + 1})}"
     th:if="${contractDtoPage.hasNext()}">Next</a>
</div>
<script>

  function showAttachDetail(id) {

    $.ajax({
      url: "http://localhost:8080/api/contracts/v1/" + id,
      type: "GET",
      dataType: "json",
      success: function (data) {
        if (data.length > 0) {
          // $("#note").hide();
          let tr = [];
          tr.push("<tr>");
          tr.push("<th>" + "Tên dịch vụ đi kèm" + "</th>");
          // tr.push("<th class='px-5'>" + "Đơn vị" + "</th>");
          tr.push("<th class='text-center'>" + "Số lượng" + "</th>");
          tr.push("<th class='text-center'>" + "Giá tiền" + "</th>");
          tr.push("<th class='text-center'>" + "Tổng tiền" + "</th>");
          tr.push("</tr>");

          for (let i = 0; i < data.length; i++) {
            tr.push("<tr>");
            tr.push("<td class='h6'>" + data[i].attachName + "</td>");
            tr.push("<td class='px-5'>" + data[i].totalQuantity + "</td>");
            tr.push("<td class='text-center'>" + data[i].cost + "</td>");
            tr.push("<td class='text-center'>" + data[i].totalMoney + "</td>");
            tr.push("</tr>");
          }
          $("#showAttach").html(tr.join(""));

        }
      }
    })
  }
</script>
<script th:inline="javascript">
  function idContractDetail(id) {
    document.getElementById("idInput").value = id;
  }

</script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                 integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                 crossorigin="anonymous"></script>

</body>
</html>
